.page-title {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item{
    text-decoration: none;
    color: inherit;
    
}

.button {
    border-radius: 20px;
    background-color: black;
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    
}

.btn-text {
    color: white;
    text-align: center;
}

.content-text {
    font-size: 70px;
}

.contact-info {
    background-color: #171717;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.under {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}


.image-top-left{
    position: absolute;
    left: 0px; 
    bottom: 650px;
    width: 400px;
    height: 240px
}
.image-bottom-left{
    position: absolute;
    top: 420px;
    left: 50px;
    width: 650px;
    height: 350px
}
.image-bottom-right{
    position: absolute;
    top: 420px;
    right: 150px;
    width: 350px;
    height: 300px
}
.image-top-right{
    position: absolute;
    /* top: 420px; */
    top: 100px;
    right: 300px;
    width: 250px;
    height: 200px
}

.rounded-image {
    border-radius: 50%;
  }

  .image-card{
    width: 300px; height: 300px; border-radius: 30%;
  }


  .change-color{
    fill:white
}

.info{
    display: flex;
    align-items: center;
    gap: 20px;
}


.mr-r-10 {
    margin-right: 10px;
}

.mr-t-10 {
    margin-top: 10px;
}

.mr-t{
    margin-top: 120px;
}

.mr-t-20{
    padding-top: 80px;
}

a{
    color: white;
}

nav ul {list-style-type: none;}

li{
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
}

  
  
  
  
  
  
  
  
  