<div style="display: grid; grid-template-rows: 10vh 70vh 20vh">
  <div class="header">
    <div class="page-title">
      <div class="title">
        <img
          src="assets/image/soctrip.png"
          alt="Soctrip image"
          style="
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin-right: 10px;
          "
        />
        <span style="font-size: 30px">SocTrip</span>
      </div>
      <div class="mr-t-10">
        <button mat-button class="button mr-r-10">
          <span class="btn-text">Login</span>
        </button>
        <button mat-button class="button mr-r-10">
          <span class="btn-text">Sign Up</span>
        </button>
      </div>
    </div>
    <div class="center">
      <nav>
        <ul>
          <li>
            <a routerLink="/home" routerLinkActive="active" class="nav-item">
              Home
            </a>
          </li>
          <li>
            <a routerLink="/hotels" routerLinkActive="active" class="nav-item">
              Hotels
            </a>
          </li>
          <li>
            <a routerLink="/restaturants" class="nav-item"> Restaurants </a>
          </li>
          <li>
            <a routerLink="/story" class="nav-item"> Travel Story </a>
          </li>
          <li>
            <a routerLink="/more" class="nav-item"> More </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div style="overflow: auto; display: grid; grid-template-columns: 1fr 3fr">
    <div
      style="
        display: flex;
        margin-top: 120px;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 50px;
      "
    >
      <span class="content-text">Starting your</span>
      <span class="content-text">new journey </span>
      <span class="content-text">today!</span>
    </div>
    <div style="display: flex; flex-wrap: wrap; gap: 30px; margin-top: 30px">
      <img src="assets/image/city.jpeg" alt="" class="image-card" />
      <img src="assets/image/city2.jpeg" alt="" class="image-card" />
      <img src="assets/image/sea.jpeg" alt="" class="image-card" />
      <img src="assets/image/sea2.jpeg" alt="" class="image-card" />
      <img src="assets/image/paris.jpeg" alt="" class="image-card" />
      <img src="assets/image/london.jpeg" alt="" class="image-card" />
      <img src="assets/image/mount.jpeg" alt="" class="image-card" />
      <img src="assets/image/mount2.jpeg" alt="" class="image-card" />
    </div>
  </div>
  <div class="contact-info mr-t-10">
    <div style="display: flex; justify-content: center">
      <div class="info">
        <img
          src="assets/image/soctrip.png"
          alt="Soctrip icon"
          style="width: 40px; margin-left: 10px; border-radius: 50%"
        />
        <div>
          <span>© 2023 Soctrip TMA rights reserved</span>
          <div>
            <a routerLink="/terms" class="mr-r-10">Terms of Use</a>
            <a routerLink="/privacy" class="mr-r-10"
              >Privacy and Cookies Statements</a
            >
            <a routerLink="/cookie" class="mr-r-10">Cookie consent</a>
          </div>
          <div>
            <a routerLink="/map" class="mr-r-10">Site Map</a>
            <a routerLink="/help" class="mr-r-10">How the site work</a>
            <a routerLink="/contact" class="mr-r-10">Contact us</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <span class="center content-text mr-t-20 under">Get in touch</span>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    >
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
        "
      >
        <a href="https://www.facebook.com/">
          <svg
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
            class="change-color"
          >
            <path
              d="M12.001 2.061C6.478 2.061 2 6.537 2 12.061c0 4.993 3.661 9.132 8.445 9.879v-6.99H7.89v-2.889h2.556l.001-2.203c0-2.506 1.484-3.896 3.769-3.896 1.095 0 2.23.21 2.23.21v2.445h-1.253c-1.242 0-1.639.777-1.639 1.568l.003 1.876h2.777l-.444 2.889h-2.333v6.99C18.34 21.192 22 17.054 22 12.061c0-5.524-4.477-10-9.999-10z"
            ></path></svg
        ></a>
        <a href="https://twitter.com/">
          <svg
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
            class="change-color"
          >
            <path
              d="M2 18.1c2.2.2 4.3-.5 5.9-1.899-1.2-.101-3.6-2.4-4-2.9h1.6c-1.9-.5-3.2-2.2-3.2-4.1.6.099 1.2.299 1.7.499h.2C2.7 8.3 2.2 6 3.1 4.1c2.1 2.6 5.3 4.2 8.6 4.4V7.4c.1-2.2 2-4 4.2-4 .9 0 1.7.3 2.4.8.4.3.8.3 1.2.2l1.9-.7c-.4.9-.9 1.6-1.6 2.3.601-.1 1.3-.4 1.9-.5l.3.2c-.6.5-1.2 1.1-1.7 1.5-.1.3-.2.7-.2 1.1 0 1.9-.5 3.8-1.3 5.601A11.982 11.982 0 019.5 20.1c-2.4.2-4.9-.199-7-1.3l-.5-.7"
            ></path></svg
        ></a>
        <a href="https://www.pinterest.com/">
          <svg
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
            class="change-color"
          >
            <path
              d="M14.94 2.575c-.804-.458-1.839-.573-2.873-.573C6.547 2.001 2.06 6.488 2.06 12.009c0 4.142 2.53 7.821 6.327 9.317a12.03 12.03 0 010-2.876c.229-.806 1.149-4.946 1.149-4.946a3.169 3.169 0 01-.346-1.495c0-1.381.805-2.416 1.841-2.416.689 0 1.266.575 1.266 1.266v.115c-.229 1.15-.459 2.185-.806 3.334-.229.805.229 1.61 1.035 1.727h.461c1.726 0 3.104-1.841 3.104-4.602.116-2.186-1.609-4.025-3.795-4.025h-.346c-2.3-.116-4.255 1.724-4.37 4.14v.229c0 .805.229 1.609.689 2.301.115.114.115.229.115.229a6.646 6.646 0 00-.229 1.147c0 .229-.116.229-.347.116-1.265-.807-2.069-2.3-2.069-3.913 0-3.105 2.3-5.98 6.556-5.98 3.221-.115 5.98 2.3 6.096 5.521v.229c0 3.454-2.186 6.211-5.174 6.211-.922 0-1.729-.346-2.304-1.148 0 0-.459 1.955-.575 2.415-.345.92-.689 1.842-1.266 2.646 5.292 1.609 10.812-1.267 12.421-6.558C23.104 9.707 20.23 4.186 14.94 2.575z"
            ></path></svg
        ></a>
        <a href="https://www.instagram.com/">
          <svg
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
            class="change-color"
          >
            <path
              d="M21.938 7.9c0-.8-.199-1.6-.5-2.4-.5-1.4-1.5-2.5-2.9-3-.799-.3-1.6-.4-2.4-.5h-4.099c-1.4 0-2.8 0-4.2.1-.8 0-1.6.2-2.3.5-1.3.5-2.4 1.5-2.9 2.8-.3.8-.5 1.6-.5 2.5 0 1.1-.1 1.4-.1 4.1-.1 1.4-.1 2.7 0 4.1 0 .801.2 1.601.5 2.4.5 1.3 1.6 2.4 2.9 2.9.8.3 1.6.399 2.4.5 1.4.1 2.8.1 4.2.1s2.8 0 4.099-.1c.801 0 1.602-.2 2.4-.5a5.17 5.17 0 002.9-2.9c.301-.8.398-1.6.5-2.4 0-1.1.1-1.399.1-4.1s-.1-3.1-.1-4.1zM20.137 16c0 .6-.1 1.3-.299 1.9-.301.898-1 1.6-1.9 1.898-.6.201-1.301.301-1.9.301-1.1 0-1.4.102-4 .102-1.3 0-2.7 0-4-.102-.6 0-1.2-.1-1.9-.3-.9-.3-1.6-1-1.9-1.899-.3-.601-.4-1.2-.4-1.9 0-1.1-.1-1.4-.1-4 0-1.3 0-2.7.1-4 .1-.6.2-1.3.3-1.9.3-.9 1-1.6 1.9-1.9.7-.2 1.3-.3 2-.3 1.1 0 1.4-.1 4-.1 1.3 0 2.701 0 4 .1.6 0 1.301.1 1.9.3.898.3 1.6 1 1.898 1.9.201.6.301 1.3.301 1.9 0 1.1.102 1.4.102 4-.001 2.6-.102 3-.102 4z"
            ></path>
            <path
              d="M12.138 6.9c-2.9 0-5.1 2.3-5.1 5.1s2.3 5.1 5.1 5.1 5.101-2.3 5.101-5.1-2.301-5.1-5.101-5.1zm0 8.4c-1.8 0-3.3-1.5-3.3-3.3s1.5-3.3 3.3-3.3c1.8 0 3.2 1.5 3.3 3.3 0 1.8-1.5 3.3-3.3 3.3zM17.438 5.5c-.699 0-1.199.5-1.199 1.2s.5 1.2 1.199 1.2 1.199-.5 1.199-1.2-.5-1.2-1.199-1.2z"
            ></path></svg
        ></a>
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 32 32"
            fill="none"
            role="img"
            class="icon fill-current change-color"
          >
            <rect width="32" height="32" fill="black" fill-opacity="0"></rect>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16 0C7.16703 0 0 7.16703 0 16C0 24.833 7.16703 32 16 32C24.8156 32 32 24.833 32 16C32 7.16703 24.8156 0 16 0ZM26.5683 7.37527C28.4772 9.70065 29.6226 12.6681 29.6573 15.8785C29.2061 15.7918 24.6941 14.872 20.1475 15.4447C20.0434 15.2191 19.9566 14.9761 19.8525 14.7332C19.5748 14.0738 19.2625 13.397 18.9501 12.7549C23.9826 10.7072 26.2733 7.75705 26.5683 7.37527ZM16 2.36009C19.4707 2.36009 22.6464 3.66161 25.0586 5.7961C24.8156 6.14317 22.7505 8.90239 17.8915 10.7245C15.6529 6.61171 13.1714 3.24512 12.7896 2.72451C13.8134 2.48156 14.8894 2.36009 16 2.36009ZM10.1866 3.64425C10.551 4.13015 12.9805 7.5141 15.2538 11.5401C8.86768 13.2408 3.22777 13.2061 2.62039 13.2061C3.50542 8.9718 6.36876 5.44902 10.1866 3.64425ZM2.32538 16.0174C2.32538 15.8785 2.32538 15.7397 2.32538 15.6009C2.9154 15.6182 9.54447 15.705 16.3644 13.6573C16.7636 14.4208 17.128 15.2017 17.4751 15.9826C17.3015 16.0347 17.1106 16.0868 16.9371 16.1388C9.89154 18.4121 6.14317 24.6247 5.8308 25.1453C3.6616 22.7332 2.32538 19.5228 2.32538 16.0174ZM16 29.6746C12.8416 29.6746 9.92625 28.5987 7.61822 26.7939C7.86117 26.2907 10.6377 20.9458 18.3427 18.256C18.3774 18.2386 18.3948 18.2386 18.4295 18.2213C20.3557 23.2017 21.1367 27.3839 21.3449 28.5813C19.6963 29.2928 17.8915 29.6746 16 29.6746ZM23.6182 27.3319C23.4794 26.4989 22.7505 22.5076 20.9631 17.5965C25.2495 16.9197 28.9978 18.0304 29.4664 18.1866C28.8764 21.987 26.6898 25.2668 23.6182 27.3319Z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
