<div class="edit-info-dialog">
  <div mat-dialog-title>
    <span style="font-weight: bold">DELETE HOTEL'S INFORMATION</span>
  </div>

  <div mat-dialog-content>
    <span
      >This change may impact active users. Please confirm you want to
      continue.</span
    >
  </div>
  <div
    mat-dialog-actions
    style="
      display: flex;
      justify-content: flex-end;
      padding-bottom: 40px;
      padding-right: 20px;
    "
  >
    <button
      mat-button
      [mat-dialog-close]="true"
      (click)="deleteRecord()"
      class="button confirm"
    >
      Confirm
    </button>
    <button mat-button [mat-dialog-close]="false" class="button">Close</button>
  </div>
</div>
