<div class="edit-info-dialog">
  <div mat-dialog-title>
    <span style="font-weight: bold">ADD HOTEL'S INFORMATION</span>
  </div>

  <div mat-dialog-content>
    <div [formGroup]="recordHotelForm" style="margin-left: 20px">
      <div class="form-col indented">
        <mat-form-field class="indented">
          <mat-label>
            <ng-container> Name </ng-container>
          </mat-label>
          <input id="name" matInput formControlName="name" />
        </mat-form-field>
      </div>
      <br />
      <div class="form-col indented">
        <mat-form-field class="indented">
          <mat-label>
            <ng-container> Address </ng-container>
          </mat-label>
          <input id="address" matInput formControlName="address" />
        </mat-form-field>
      </div>
      <div class="form-col indented">
        <mat-form-field class="indented">
          <mat-label>
            <ng-container> Phone number </ng-container>
          </mat-label>
          <input id="address" matInput formControlName="phoneNumber" />
        </mat-form-field>
      </div>
      <div class="form-col indented">
        <mat-form-field class="indented">
          <mat-label>
            <ng-container> Website </ng-container>
          </mat-label>
          <input id="address" matInput formControlName="website" />
        </mat-form-field>
      </div>
      <div class="form-col indented">
        <mat-form-field class="indented">
          <mat-label>
            <ng-container> Email </ng-container>
          </mat-label>
          <input id="address" matInput formControlName="email" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div
    mat-dialog-actions
    style="
      display: flex;
      justify-content: flex-end;
      padding-bottom: 40px;
      padding-right: 20px;
    "
  >
    <button
      mat-button
      [mat-dialog-close]="true"
      (click)="addNewRecord()"
      class="button confirm"
    >
      Confirm
    </button>
    <button mat-button [mat-dialog-close]="false" class="button">Close</button>
  </div>
</div>
