.edit-info-dialog{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    outline: 0;
    transform: none;
    width: 500px;

    
}
.mat-dialog-content{
    height: 100%;
}
.content{
    margin-bottom: 10px;
}

.indented{
    width: 400px
}

.button {
    border-radius: 20px;
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    
}
.confirm {
   background-color:  #00BFFF
}

