/* @font-face {
    font-family: 'Yuji Hentaigana Akari';
    src: url('../assets/font/YujiHentaiganaAkari-Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Yuji Hentaigana Akari', cursive;
} */

