.page-title{
    display: flex;
    justify-content: space-between;
}
.title{
    display: flex;
    align-items: center;
}

nav ul {list-style-type: none;}

li{
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item{
    text-decoration: none;
    color: inherit;
    
}

.button {
    border-radius: 20px;
    background-color: black;
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    
}

.add-btn {
    border-radius: 20px;
    background-color: black;
    width: 120px;
    height: 40px;
    box-sizing: border-box;
}

.btn-text {
    color: white;
}

.mr-r-10 {
    margin-right: 10px;
}

.mr-t-20{
    margin-top: 10px;
}
.mr-t-10{
    margin-top: 10px;
}

.content-text {
    font-size: 70px;
}


.mr-t-10 {
    margin-top: 10px;
}

.contact-info {
    background-color: #171717;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.under {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.rounded-image {
    border-radius: 50%;
  }

a{
    color: white;
}

.change-color{
    fill:white
}

.info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.information{
    position: relative;
}

.image-top-left{
    position: absolute;
    left: 0px; 
    bottom: 650px;
    width: 400px;
    height: 240px
}
.image-bottom-left{
    position: absolute;
    top: 420px;
    left: 50px;
    width: 650px;
    height: 350px
}
.image-bottom-right{
    position: absolute;
    top: 420px;
    right: 150px;
    width: 350px;
    height: 300px
}
.image-top-right{
    position: absolute;
    /* top: 420px; */
    top: 100px;
    right: 300px;
    width: 250px;
    height: 200px
}

.item{
    background-color: #F5F5DC;
    width: 916px;
    height: 272px;
    display: grid;
    border-radius: 5px;
    border-style: solid;
    border: 1px white;
    grid-template-columns: 1fr 3fr;
    box-sizing: border-box;
    overflow: hidden;
    gap: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.item:hover{
    box-shadow: 0 0 10px rgba(159, 5, 170, 0.5);
}

.hotel-img{
    width: 270px;
    height: 272px;
}

.info-container{
    display: flex;
    align-items: center;
    gap: 10px;
}