<div style="display: flex; flex-direction: column">
  <div class="header">
    <div class="page-title">
      <div class="title">
        <img
          src="assets/image/soctrip.png"
          alt="Soctrip image"
          style="
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin-right: 10px;
          "
        />
        <span style="font-size: 30px">SocTrip</span>
      </div>
      <div class="mr-t-10">
        <button mat-button class="button mr-r-10">
          <span class="btn-text">Login</span>
        </button>
        <button mat-button class="button mr-r-10">
          <span class="btn-text">Sign Up</span>
        </button>
      </div>
    </div>
    <div class="center">
      <nav>
        <ul>
          <li>
            <a routerLink="/home" routerLinkActive="active" class="nav-item">
              Home
            </a>
          </li>
          <li>
            <a routerLink="/hotels" routerLinkActive="active" class="nav-item">
              Hotels
            </a>
          </li>
          <li>
            <a routerLink="/restaturants" class="nav-item"> Restaurants </a>
          </li>
          <li>
            <a routerLink="/story" class="nav-item"> Travel Story </a>
          </li>
          <li>
            <a routerLink="/more" class="nav-item"> More </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div style="overflow: auto">
    <div class="information center mr-t-20">
      <div style="display: grid; gap: 10px">
        <div style="display: flex; justify-content: flex-end">
          <button mat-button class="add-btn" *ngIf="hotelInfo.length">
            <span class="btn-text" (click)="openAddDialog()">Add record</span>
          </button>
        </div>
        <div class="item" *ngFor="let hotel of hotelInfo">
          <div style="display: flex; justify-content: space-between">
            <img
              src="assets/image/hotel/hotel-{{ hotel['id'] }}.jpeg"
              alt="{{ hotel['id'] }}"
              class="hotel-img"
            />
          </div>
          <div style="display: grid; grid-template-columns: 1fr 1fr">
            <div
              style="
                grid-column: 1 / span 2;
                display: block;
                font-size: 24px;
                margin-top: 10px;
              "
            >
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                "
              >
                <span>
                  {{ hotel["name"] }}
                </span>
                <button
                  mat-button
                  style="margin-right: 10px"
                  (click)="openDeleteDialog(hotel)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
            <div
              style="
                display: flex;
                grid-column: 1;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
              "
            >
              <button
                mat-button
                (click)="openDialog(hotel)"
                style="
                  border-radius: 20px;
                  background-color: #f2b203;
                  width: 240px;
                "
              >
                Edit Info
              </button>
              <p>Click here to edit hotel information</p>
            </div>
            <div style="display: block; grid-column: 2; position: relative">
              <div style="display: flex; flex-direction: column; gap: 30px">
                <span class="info-container">
                  <mat-icon>home</mat-icon>{{ hotel["address"] }}</span
                >
                <span class="info-container">
                  <mat-icon>phone</mat-icon>{{ hotel["phoneNumber"] }}</span
                >
                <span class="info-container"
                  ><mat-icon>language</mat-icon> {{ hotel["website"] }}</span
                >
                <span class="info-container"
                  ><mat-icon>mail</mat-icon> {{ hotel["email"] }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
